<Layouts.app flash={@flash}>
  <.header>
    Task {@task.id}
    <:subtitle>This is a task record from your database.</:subtitle>
    <:actions>
      <.button navigate={~p"/tasks"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.button variant="primary" navigate={~p"/tasks/#{@task}/edit?return_to=show"}>
        <.icon name="hero-pencil-square" /> Edit task
      </.button>
    </:actions>
  </.header>

  <.list>
    <:item title="Name">{@task.name}</:item>
    <:item title="Scheduled for">{@task.scheduled_for}</:item>
    <:item title="Completed on">{@task.completed_on}</:item>
    <:item title="Kind">{@task.kind}</:item>
    <:item title="Label">{@task.label}</:item>
  </.list>
</Layouts.app>
