<.form :let={f} for={@changeset} action={@action}>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:scheduled_for]} type="date" label="Scheduled for" />
  <.input field={f[:completed_on]} type="date" label="Completed on" />
  <.input
    field={f[:kind]}
    type="select"
    label="Kind"
    prompt="Choose a value"
    options={Ecto.Enum.values(Planner.Tasks.Task, :kind)}
  />
  <.input field={f[:label]} type="text" label="Label" />
  <footer>
    <.button variant="primary">Save Task</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer>
</.form>
